<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dd.css') }}">
    </head>
<body>
    <main>
             <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                    <a href="/blog">All Entries<br />(old to new)</a>
                    <a href="/blog?sort=newest">All Entries<br />(new to old)</a>
                    <a href="/new_entry">Create new Entry</a>
                </div>
             </div>
        

        <div class="container">
            
            
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="flash_message">{{message|safe}}</div>
                {% endfor %}
            {% endwith %}

            {% block content %}
            {% endblock %}

        </div> 
    </main>

</body>
</html>